.title{
  position: fixed;
  width : 100%;
  height : 6%;
  background-color: black;
  color: white;
  font-size: 250%;
  font-family: 'BenchNine', Arial, sans-serif;
  opacity: 0.9;
}

.canvas-container {
  background-color: #222;
  width: 100%;
  height : 85%;
  position: fixed;
}

.canvas-wrapper {
  top: 20%;
  left: 3%;
  position: fixed;
  width: 60.2%;
  height: 51.2%;
  margin-right: 65%;
}


.menu{
  width : 50px;
  height : 500px;
  position : relative;
  float: right;
  margin-right: 3.6%;
  top: 10%;
}


.furniture{
  right: 11%;
  left: 68%;
  top: 6%;
  bottom : 15%;
  width: 21%;
  overflow: scroll;
  overflow-x: hidden;
  background-color: darkgray;
  padding : 10px;
  position: fixed;
  margin-top: 20px;
  margin-bottom: 25px;
}

.furniture img{
  margin: 4px;
  margin-right: 5px;
}

.furniture video{
  margin: 4px;
  margin-right: 5px;
}

input {
    width: 100%;
    height: 40px;
    font-size: 20px;
    border-bottom: black;
    box-sizing: border-box;
    margin:0;
    padding: 0;
  }

.simple-keyboard {
  max-width: 60.2%;
}

#new_text {
  left : 3%;
  top : 47%;
  z-index : 15;
  position : fixed;
  width : 60%;
  height: 10%;
}

.hg-theme-default {
  left : 3%;
  top: 57%;
  position : fixed;
  z-index : 15;
}
.send {
  position : fixed;
  left : 10%;
  top : 10%;

}

.sendbutton{
  position : fixed;
  left : 45%;
  top : 15%;

}
.sendbutton2{
  position : fixed;
  left : 45%;
  top : 20%;

}

.button{
  width: 30px;
  height: 30px;
}

.color{
  width: 50px;
  height: 50px;
  border: none;
  box-sizing: border-box;

}


  @import url(https://fonts.googleapis.com/css?family=BenchNine:700);
.snip1535 {
  background-color: #c47135;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'BenchNine', Arial, sans-serif;
  font-size: 1em;
  font-size: 17px;
  line-height: 1em;
  margin: 15px 1px;
  outline: none;
  padding: 6px 20px 5px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  width: 80px;
  height : 55px;
 
}

button:active {
  opacity: 0.8;
}

.snip1535:before,
.snip1535:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.snip1535:before {
  border-color: #c47135;
  border-right-width: 2px;
  border-top-width: 2px;
  right: -5px;
  top: -5px;
}
.snip1535:after {
  border-bottom-width: 2px;
  border-color: #c47135;
  border-left-width: 2px;
  bottom: -5px;
  left: -5px;
}
.snip1535:hover,
.snip1535.hover {
  background-color: #c47135;
}
.snip1535:hover:before,
.snip1535.hover:before,
.snip1535:hover:after,
.snip1535.hover:after {
  height: 100%;
  width: 100%;
}


.snip1535u {
  background-color: #c47135;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'BenchNine', Arial, sans-serif;
  font-size: 1em;
  font-size: 17px;
  line-height: 1em;
  margin: 15px 1px;
  outline: none;
  padding: 6px 20px 5px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  width: 80px;
  height : 30px;
}

.snip1535u:before,
.snip1535u:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.snip1535u:before {
  border-color: #c47135;
  border-right-width: 2px;
  border-top-width: 2px;
  right: -5px;
  top: -5px;
}
.snip1535u:after {
  border-bottom-width: 2px;
  border-color: #c47135;
  border-left-width: 2px;
  bottom: -5px;
  left: -5px;
}
.snip1535u:hover,
.snip1535u.hover {
  background-color: #c47135;
}
.snip1535u:hover:before,
.snip1535u.hover:before,
.snip1535u:hover:after,
.snip1535u.hover:after {
  height: 100%;
  width: 100%;
}


::-webkit-scrollbar { width: 20px; }
::-webkit-scrollbar-track { display : none; background-color: gray; }
::-webkit-scrollbar-thumb { background-color: black; }
::-webkit-scrollbar-button { display: none; }
::-webkit-scrollbar-corner { background-color: #333;}
::-webkit-scrollbar-thumb:hover { opacity: 0.5; }